<h1>buzzpoll</h1>

@for(poll of polls; track poll.id) {
  <ion-card [routerLink]="['poll', poll.id, 'results']">
    <ion-card-header>
      <ion-card-title>{{ 'add title here' }}</ion-card-title>
      <ion-card-subtitle>{{ poll.question }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <qrcode [qrdata]="'poll' + poll.id + 'results'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>
}

<a [routerLink]="['/create']">
  <ion-fab>
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</a>
