
<router-outlet></router-outlet>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-input formControlName="question" label="Question" placeholder="Enter your question here..."></ion-input>
  <div formArrayName="answers">
    <div *ngFor="let answer of answers.controls; let i = index">
      <ion-input
        label="Option {{ i + 1 }}"
        (ionInput)="addAnswer(i)"
        [formControlName]="i"
        type="text"
        />
    </div>
  </div>

  <ion-button type="submit" [disabled]="!form.valid">Submit</ion-button>
  <qrcode [qrdata]="pollId" [width]="256 * 2" [errorCorrectionLevel]="'M'"></qrcode>

  <a [routerLink]="['/vote', pollId]">click here</a>
</form>
