/* You can add global styles to this file, and also import other style files */

html {
  background-color: #1f1f1f;
}

* {
  font-family: "Proza Libre";
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: honeydew;
}
